<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="AuditFile" fileName="audit.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%c{1}] %m%n" />
        </File>
        <File name="EncryptedFile" fileName="logs/encrypted.log" append="true">
            <PatternLayout pattern="%d{ISO8601} %p %c{1.} [%t] %m%n" />
            <Properties>
                <Property name="key">1234567890123456</Property>
                <Property name="algorithm">AES</Property>
            </Properties>
            <Encrypt />
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="AuditFile" />
            <AppenderRef ref="EncryptedFile"/>
        </Root>
        <Logger name="org.example" level="info" additivity="false">
            <AppenderRef ref="AuditFile" />
            <AppenderRef ref="EncryptedFile"/>
        </Logger>
    </Loggers>
</Configuration>
